            <!-- Slider-->
            <div class="slider-wrapper">
        
                <div class="flexslider">
        
                    <ul class="slides">
                        <li><a href="index.html#"><img src="assets/images/slider-image-three.jpg" alt=""></a></li>
                        <li><a href="index.html#"><img src="assets/images/slider-image-two.jpg" alt=""></a></li>
                        <li><a href="index.html#"><img src="assets/images/slider-image-one.jpg" alt=""></a></li>
                    </ul>
        
                </div>
        
            </div>
            <!--End Slider-->
            
            
            <!-- Bottom Strip -->
            <div class="bottom-strip-wrapper">
                <div class="bottom-strip">
                    <p>
                    	<span>Call 023 7526 8539  or Make Online Reservation</span><a href="reservation.html">MAKE  RESERVATION NOW</a>
                    </p>
                </div>
            </div>

            <!-- Start Container -->
            <div id="container">

                <!-- Content -->
                <div class="content full-width clearfix">

                    <div class="container-top"></div>

                    <div id="main-content">

                        <section class="page-head">
                            <h1>
                                <span>Welcome to Elegantia</span>
                            </h1>
                        </section>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>

                        <hr class="separator">

                        <section id="template-items">
                            <ul class="template-items clearfix">

                                <li>
                                    <h2>About Elegantia</h2>
                                    <figure>
                                        <a href="about.html"> <img src="assets/images/one1.jpg" alt=""></a>
                                    </figure>
                                    <h3>Elegantia Introduction</h3>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes Lorem lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem Lorem lectorum. Mirum est notare quam littera gothica.</p>
                                    <a href="about.html" class="readmore">Read More About Us</a>
                                </li>

                                <li>
                                    <h2>Our Menu</h2>
                                    <figure>
                                        <a href="our-menu.html"> <img src="assets/images/two1.jpg" alt=""> </a>
                                    </figure>
                                    <h3>Elegantia Food</h3>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes Lorem lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem Lorem lectorum. Mirum est notare quam littera gothica.</p>
                                    <a href="our-menu.html" class="readmore">View Our Menu</a>
                                </li>

                                <li>
                                    <h2>Special Events</h2>
                                    <figure>
                                        <a href="http://inspirythemes.biz/html-templates/elegantia-html-new/all-events.html"><img src="assets/images/three1.jpg" alt=""></a>
                                    </figure>
                                    <h3>Elegantia Events</h3>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes Lorem lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem Lorem lectorum. Mirum est notare quam littera gothica.</p>
                                    <a href="http://inspirythemes.biz/html-templates/elegantia-html-new/all-events.html" class="readmore">View All Events</a>
                                </li>
                            </ul>
                        </section>

                        <hr class="separator">

                        <section class="flexcarousel">
                            <div class="carousel es-carousel-wrapper clearfix">
                                <div class="es-carousel">
                                    <ul>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/mini-sandwich-spiral-roll-appetizers-89x89.jpg"  alt="Mini sandwich spiral roll appetizers" />
                                                </a>
                                                <figcaption>Sandwich Spiral Roll</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>6.30$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/vegetable-soup-89x89.jpg"  alt="vegetable soup" />
                                                </a>
                                                <figcaption>Vegetable Soup</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>4.50$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/fruits-salad-89x89.jpg" alt="fruits salad" />
                                                </a>
                                                <figcaption>Fruits Salad</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>4.50$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/Roasted-Chicken-with-a-Mustard-Crust-89x89.jpg" alt="Roasted Chicken with a Mustard Crust" />
                                                </a>
                                                <figcaption>Roasted Chicken</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>12.50$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/Grilled-Chicken-Sandwich-with-Pesto-Goat-Cheese-Spread-89x89.jpg" alt="Grilled Chicken Sandwich-with Pesto Goat Cheese Spread" />
                                                </a>
                                                <figcaption>Chicken Sandwich</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>6.50$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/banh-mi-89x89.jpg" alt="banh mi" />
                                                </a>
                                                <figcaption>Banh Mi Sandwich</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>5.15$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/greek-salad-89x89.jpg" alt="Greek salad" />
                                                </a>
                                                <figcaption>Greek Salad</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>4.50$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/cream-cakes-89x89.jpg" alt="Dessert" />
                                                </a>
                                                <figcaption>Cream Cakes</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>7.30$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="the-tooltip top center full-width sienna">
                                                <a href="cream-cakes.html">
                                                    <img width="89" height="89" src="assets/images/sweet-toast-and-ice-cream1-89x89.jpg" alt="sweet toast and ice cream" />
                                                </a>
                                                <figcaption>Sweet Toast and Ice ..</figcaption>
                                            </figure>
                                            <div class="price">
                                                <span>6.40$</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>

                        <hr class="separator">

                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor mattis tempus. Phasellus ullamcorper elementum diam non laoreet. Cras gravida, nisl vitae consectetur porta, metus elit luctus nulla, nec interdum ligula ante in est. Phasellus semper pretium tellus.</p>
                            <p class="author">John Doe</p>
                        </blockquote>

                    </div><!-- End of Main Content-->

                    <div class="container-bottom"></div>

                </div><!-- End Content-->

            </div><!-- End Container -->